{% extends "base.html.twig" %}

{% block body %}



<div class="center-form">
    {{ form_start(form) }}
    <button type="submit" id="searchButton" >Search</button>
    {{ form_end(form) }}


</div>



    <div class="home">
        <button onclick="location.href='{{ path('app_home') }}'">Home</button>
    </div>

{% endblock %}
