{% extends 'base.html.twig' %}

{% block body %}

    <div class="center-form">
        {{ form_start(Form) }}
        {{ form_widget(Form) }}
        <button type="submit" id="addButton">Add</button>
        {{ form_end(Form) }}

    </div>


        <script>
            $("#addButton").click(function() {
            alert("Record added successfully!")
            });
        </script>

    <div class="home">
        <button onclick="location.href='{{ path('app_home') }}'">Home</button>
    </div>



{% endblock %}